body {
  background-color: rgba(157, 157, 157, 0.1);
  font-family: 'Roboto', sans-serif;
}

.time {
  display: flex;
  flex-direction: column;
}

.trend-headline {
  text-align: center;
}

.trend-feed {
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-out;
}
